/scraper/mieszkania_rynek_wtorny.txt
/scraper/.idea/
/.idea/.gitignore
/.idea/HouseHunter.iml
/.idea/misc.xml
/.idea/modules.xml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/vcs.xml
/scraper/.idea/__pycache__